body {
  padding: 20px;
}
.btm-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.btm-nav-btn {
  padding: 0.5rem 1rem;
  background-color: rgb(245, 180, 102);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 5px;
  text-decoration: none;
  color: black;
  user-select: none;
  /* transition: 1s ease-out; */
}
.btm-nav-btn:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 0 15px #ccc;
}
